.content {
    position: relative;
    z-index: 3;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 35%; 
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 70%; 
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
  }
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/background_page1.jpg);
  background-size: cover;
  background-position: 50%;
  /*-webkit-filter: blur(4px);*/
}
.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
	margin-bottom: 30px;
}
header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

#cupid {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.5s ease-in;
}

#arrow {
  position: fixed;
  top: calc(50% - 20px); /* ngang với tay thần Cupid */
  left: 150px; /* nằm cạnh Cupid */
  width: 120px;
  opacity: 0;
  z-index: 1000;
  transition: all 3.5s linear;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}



@media only screen and (max-width: 500px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 7%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 58%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}
#text3 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#text4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  #text3 {
    font-size: 6vw;
  }

  #text4 {
    font-size: 4.5vw;
  }
}
